Flask-SQLAlchemy
Flask<2
jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
SQLAlchemy-Utils
Werkzeug<2.1.0  # Newer versions are broken with old Flask
flask-migrate
flask-script
itsdangerous
psycopg2-binary
requests
-e file:../../lib/python/orchest-internals
