Flask-SQLAlchemy
Flask<2
SQLAlchemy-Utils
Werkzeug<2.1.0  # Newer versions are broken with old Flask
flask-limiter==1.5 # Due to our Flask<2 requirement.
flask-migrate
flask-script
itsdangerous
jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
psycopg2-binary
requests
-e file:../../lib/python/orchest-internals
