[flake8]
exclude =
    jupyter_server_config.py
    services/orchest-api/app/migrations/versions/*.py

ignore =
    # Space before :
    E203,
    # Allow breaks before/after binary operators
    W503,
    W504,
    # Ignore invalid escape sequences.
    W605

per-file-ignores =
    orchest-sdk/python/orchest/__init__.py: F401
    orchest-cli/orchestcli/cli.py: W505, E501
    services/orchest-api/app/app/core/sessions/__init__.py: F401
    services/orchest-api/app/app/models/__init__.py: F401
    services/orchest-ctl/app/orchest/__init__.py: F401

# black is set to 88
max-line-length = 88

# PEP8 allows for longer line length but states comments and docstrings
# are still wrapped at 72 characters.
max-doc-length = 72

statistics = True
