[flake8]
exclude =
    jupyter_server_config.py,

ignore =
    # Space before :
    E203,
    # Allow breaks before/after binary operators
    W503,
    W504,
    # Ignore invalid escape sequence, see services/orchest-api/app/app/core/environment_builds.py:262:55
    W605

# black is set to 88
max-line-length = 88

# PEP8 allows for longer line length but states comments and docstrings
# are still wrapped at 72 characters.
max-doc-length = 72

statistics = True
