{{- if .Values.rbacEnable }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: rook-nfs-provisioner-runner
rules:
  - apiGroups: 
    - ""
    resources: 
    - "persistentvolumes"
    verbs: 
    - "get"
    - "list"
    - "watch"
    - "create"
    - "delete"
  - apiGroups: 
    - ""
    resources: 
    - "persistentvolumeclaims"
    verbs: 
    - "get"
    - "list"
    - "watch"
    - "update"
  - apiGroups: 
    - "storage.k8s.io"
    resources: 
    - "storageclasses"
    verbs:
    - "get"
    - "list"
    - "watch"
  - apiGroups:
    - ""
    resources:
    - "events"
    verbs:
    - "create"
    - "update"
    - "patch"
  - apiGroups:
    - ""
    resources:
    - "services"
    - "endpoints"
    verbs:
    - "get"
  - apiGroups:
    - "policy"
    resources:
    - "podsecuritypolicies"
    resourceNames:
    - "rook-nfs-policy"
    verbs:
    - "use"
  - apiGroups:
    - ""
    resources:
    - "endpoints"
    verbs:
    - "get"
    - "list"
    - "watch"
    - "create"
    - "update"
    - "patch"
  - apiGroups:
    - nfs.rook.io
    resources:
    - "*"
    verbs:
    - "*"
{{- end -}}
