@use "vars";

@import "fonts";

input:-webkit-autofill::first-line {
  font-size: 17px;
}

$font-family: "Inter", sans-serif;
$generalPadding: 20px;
$mdcComponentPadding: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html,
body {
  font-size: 17px;
  font-family: $font-family;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

a.button {
  color: #000;
  text-decoration: none;
}

.login-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-login-view {
  flex: 1;
  position: relative;

  .login-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;

    img.logo {
      max-width: 100%;
      margin-bottom: $generalPadding * 2;
    }

    .box {
      max-width: 380px;
      padding: $generalPadding * 3 $generalPadding * 2;
      box-shadow: 0 15px 30px 8px rgba(0, 0, 0, 0.08);
      display: inline-block;
      text-align: center;
      border-radius: 6px;

      .mdc-text-field {
        margin-bottom: $generalPadding;
      }

      h2 {
        margin-bottom: $generalPadding * 2;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }

  .utility-links {
    position: absolute;
    bottom: $generalPadding * 4;
    width: 100%;

    text-align: center;

    color: #707070;
    a {
      color: #707070;
    }
  }
}

.cloud-login-helper {
  background: #000;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;

  p {
    margin-bottom: $generalPadding;
  }

  .text-holder {
    padding: 20%;
    h1 {
      font-weight: 600;
    }
    h1,
    img {
      padding-bottom: $generalPadding * 2;
    }
    img {
      max-width: 100%;
    }
  }

  a {
    color: #fff;
  }
}

a {
  color: vars.$secondary;
}

b,
strong {
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.push-down {
  margin-bottom: $generalPadding;
}
.push-up {
  margin-top: $generalPadding;
}
.push-left {
  margin-left: $generalPadding;
}
.push-right {
  margin-right: $generalPadding;
}

.error {
  color: red;
}

@media screen and (max-width: 700px), screen and (max-height: 700px) {
  .login-holder {
    flex-direction: column;
  }
  .login-form {
    padding: $generalPadding * 2 $generalPadding;
  }
  .main-login-view .utility-links {
    position: relative;
    bottom: auto;
    margin-top: $generalPadding * 4;
    margin-bottom: $generalPadding * 2;
  }
}
