-e file:../../lib/python/orchest-internals
-e file:../../orchest-cli
aiohttp
amqp
APScheduler
celery
croniter
Flask
Flask-Cors
flask-migrate
Flask-Migrate==2.6.0
flask-restx
flask-script
Flask-SQLAlchemy
itsdangerous
Jinja2
kubernetes
MarkupSafe<2.1.0
psycopg2-binary
pytest-mock
python-engineio
python-socketio[client]
requests
six>=1.13.0
SQLAlchemy-Utils
Werkzeug
