Jinja2==3.0.3
APScheduler==3.7.0
Flask-Cors==3.0.9
Flask-SQLAlchemy==2.4.1
Flask==1.1.1
PyYAML==6.0
SQLAlchemy-Utils==0.37.4
aiohttp==3.7.4
amqp==5.0.9
celery==5.2.2
croniter==1.0.15
eventlet==0.30.2
flask-migrate==2.5.3
flask-restx==0.5.1
flask-script==2.0.6
itsdangerous==2.0.1
kubernetes==21.7.0
psycopg2-binary==2.8.6
python-engineio==3.14.2
python-socketio[client]==4.6.1
requests==2.22.0
six>=1.13.0
-e ../../lib/python/orchest-internals
