-e file:../../lib/python/orchest-internals
-e file:../../orchest-cli
aiohttp
amqp
APScheduler
celery
croniter
Flask-Cors
flask-migrate
Flask-Migrate==2.6.0
flask-restx
flask-script
Flask-SQLAlchemy
Flask<2
itsdangerous
Jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
kubernetes
MarkupSafe<2.1.0
psycopg2-binary
python-engineio
python-socketio[client]>=5.0.0
PyYAML
requests
six>=1.13.0
SQLAlchemy-Utils
validators
Werkzeug<2.1.0  # Newer versions are broken with old Flask
