APScheduler==3.6.3
aiodocker==0.18.3
aiohttp==3.7.4
amqp==2.6.0
celery==4.4.2
croniter==1.0.2
docker>=4.3.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restx==0.2.0
Flask-SQLAlchemy==2.4.1
flask-migrate==2.5.3
flask-script==2.0.6
requests==2.22.0
python-engineio==3.14.2
python-socketio[client]==4.6.1
eventlet==0.29.1
SQLAlchemy-Utils==0.36.8
psycopg2-binary==2.8.6
-e ../../lib/python/orchest-internals
