Flask<2
Jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
Werkzeug<2.1.0  # Newer versions are broken with old Flask
itsdangerous
kubernetes
requests
six>=1.13.0
-e file:../../lib/python/orchest-internals
