@import url("https://fonts.googleapis.com/icon?family=Inter:400,400italic,500");

:root {
  --blue: #0a6df7;
  --dark-blue: #0a6df7;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

b,
strong {
  font-weight: 500;
}

button[title="Toggle shell"] {
  display: none;
}
button[title="Share"] {
  display: none;
}
img[alt="File Browser"] {
  display: none;
}
a[title="Settings"] {
  display: none;
}

#result > div > p {
  padding-top: 10px;
}

#listing > div > div[data-dir="true"] > div > i {
  color: transparent;
}

#listing > div > div[data-dir="true"] > div > i::before {
  content: "folder_open";
  position: absolute;
  color: #000;
}

#listing > div > div[data-dir="true"][aria-selected="true"] > div > i::before {
  color: #fff;
}

#listing.mosaic .item {
  width: calc(12% - 1em);
}

#listing.list .item {
  padding: 0.6em;
}

#listing.list .item div:first-of-type i {
  font-size: 1.5em;
}

#listing.list .item.header {
  background-color: #ffffff;
}

#listing.list .item.header .active {
  font-weight: 500;
}

#breadcrumbs,
#breadcrumbs span {
  color: #000000;
}

#search #input {
  border-radius: 9999px;
}

.ace_editor {
  font: 16px / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
}

#editor-container #breadcrumbs span {
  font-size: 14px;
}

#editor-container #breadcrumbs {
  margin: 0.5em 0;
  border-bottom: 0;
  padding: 0 0.5em;
}

nav .action {
  font-size: 1em;
  padding: 0.2em;
  color: #000000;
}

#listing .item {
  color: #000000;
}
