.sidebar .searchbox,
.vp-sidebar .searchbox {
  padding: 1.5rem !important;
}

.sidebar .searchbox .caption-text,
.vp-sidebar .searchbox .caption-text {
  margin-bottom: 1rem;
  display: block;
}

.sidebar form.search,
.vp-sidebar form.search {
  display: flex;
  justify-content: space-between;
}

.sidebar form.search input[type="text"],
.vp-sidebar form.search input[type="text"] {
  padding: 4px;
  flex: 1;
  min-width: 0;
}

.sidebar form.search input[type="submit"],
.vp-sidebar form.search input[type="submit"] {
  margin-left: 1.5rem;
}
