.installer-container {
  background-color: #e5f1fb;
  padding: 1em;
  border-left: 0.5rem solid;
  border-color: #5faaea;
}

.installer-container button {
  padding: 6px 9px;
  background: white;
  margin-right: 0.5em;
  border-radius: 2px;
  font-weight: bold;
  border: 0;
  font-size: 16px;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.installer-container .lhs-label {
  padding: 6px 0;
  font-size: 16px;
}

.installer-container .content {
  flex: 1;
}

.installer-container button.active,
.installer-container button:hover {
  background-color: var(--blue);
  color: white;
}

.installer-container button:last-of-type {
  margin-right: 0;
}

.installer-container > div {
  display: flex;
  flex-direction: column;
}

.installer-container .section {
  margin-bottom: 4px;
}

.installer-container .row > div:nth-child(1) {
  min-width: 175px;
}

.installer-container p {
  margin-block-start: 0;
}

html[data-theme="dark"] .installer-container {
  background-color: #202122;
}

.installer-container .highlight {
  margin-bottom: 1.15rem;
}

html .installer-container .highlight:last-child,
.installer-container p:last-child {
  margin-bottom: 0;
}
