/* Error: Can't find stylesheet to import.
 *   ,
 * 7 | @use "~material-components-web/material-components-web";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/styles/main.scss 7:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Can\'t find stylesheet to import.\a   \2577 \a 7 \2502  @use "~material-components-web/material-components-web";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/styles/main.scss 7:1  root stylesheet';
}
