// My main SCSS file.
$mdc-theme-primary: #000000;
$mdc-theme-secondary: #0a6df7;
$mdc-theme-background: #fff;


@import "../node_modules/material-components-web/material-components-web";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html,
body {
  font-size: 17px;
  font-family: "Avenir", sans-serif;
  height: 100%;
}

h1 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
}

.view-page {
  padding: 30px;
}

$generalPadding: 20px;
$borderColor: rgba(0, 0, 0, 0.12);

aside.mdc-drawer {
  //max-width: 325px;
  //width: 20%;
  @include mdc-drawer-width(325px);
  padding: 20px;
  height: 100%;
  text-align: center;
}

.pipeline-view {
  position: relative;
  height: 100%;

  .pipeline-name {
    position: absolute;
    padding: $generalPadding;
    font-size: 21px;
  }

  .pipeline-actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    padding: $generalPadding;

    button {
      margin-left: $generalPadding;
    }
  }


  .pipeline-steps-holder {
    height: 100%;

    .connection {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      &:after {
        position: absolute;
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("../image/arrow-head.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: 7px;
        bottom: -2px;
        transition: 0.3s opacity ease;
      }
      &.flipped {
        &:after {
          bottom: auto;
          top: -3px;
        }
      }
      &.flipped-horizontal {
        &:after {
          opacity: 0;
        }
      }


      svg {
        float: left;
      }
    }

    .pipeline-step {
      position: absolute;
      background: #fff;
      padding: $generalPadding;
      border: 1px solid $borderColor;
      border-radius: 6px;
      cursor: pointer;
      user-select: none;

      .connection-point {
        display: block;
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;

        &.outgoing-connections {
          right: -5px;
          left: auto;
        }
      }
    }



  }




  .pipeline-details {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: $generalPadding;
    background: #fff;
    border-left: 1px solid $borderColor;
    z-index: 12;

    button.save-button {
      position: absolute;
      bottom: $generalPadding;  
    }

    h3 {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 21px;
    }

    .multi-field-input {
      padding-bottom: 20px;
    }

    .mdc-select {
      margin-bottom: 20px;
    }
  }
}

.multi-field-input {
  > div {
    float: left;
    width: 50%;
    &:nth-child(2){
      width: 50%;
    }
  }
}

.clear {
  clear: both;
  display: block;
}

.mdc-drawer-app-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  .mdc-top-app-bar--fixed-adjust {
    flex: 1;
    display: flex;
    flex-direction: column;

    .react-view-root {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

