-e file:../../lib/python/orchest-internals
APScheduler
flask_sqlalchemy
flask-marshmallow
Flask-Migrate==2.6.0
Flask-RESTful
Flask-SocketIO>=5.0.0
Flask<=2.2.2
eventlet
ipython  # required for consistent HTML rendering, see: https://github.com/jupyter/nbconvert/issues/1443
ipython_genutils
itsdangerous
jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
MarkupSafe
marshmallow-sqlalchemy
nbconvert~=6.5.0
nbformat
psycopg2-binary
python-engineio
python-socketio
python-socketio[client]>=5.0.0
requests
simple-websocket
six>=1.13.0
SQLAlchemy-Utils
Werkzeug
