nbconvert~=6.0.0
# ipython is required for consistent HTML rendering, see:
# https://github.com/jupyter/nbconvert/issues/1443
ipython
itsdangerous
jinja2<3.1.0  # https://github.com/pallets/jinja/issues/1626
Flask<2
flask_sqlalchemy
Flask-RESTful
flask-marshmallow
Flask-SocketIO
eventlet
marshmallow-sqlalchemy
Flask-Migrate
flask-script
requests
APScheduler
nbformat
six>=1.13.0
Werkzeug<2.1.0  # Newer versions are broken with old Flask
python-engineio
python-socketio
SQLAlchemy-Utils
posthog
psycopg2-binary
-e file:../../lib/python/orchest-internals
