<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Orchest</title>
    <link
      rel="stylesheet"
      href="public/css/dist/main.css?v={{ css_bundle_hash }}"
    />
    <link rel="icon" href="public/image/favicon.png" type="image/x-icon" />
  </head>
  <body tabindex="0">
    <div style="opacity: 0; pointer-events: none; position: absolute">
      Font loader...
    </div>
    <script>
      window.ORCHEST_CONFIG = {{config_json|tojson}};
      window.ORCHEST_USER_CONFIG = {{user_config|tojson}};
    </script>
    <div id="react-root"></div>
    {% if CLOUD %}
      <script>
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/v61sr629';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
      </script>
    {% endif %}
    <script src="public/js/dist/main.bundle.js?v={{ javascript_bundle_hash }}"></script>
  </body>
</html>
