.xterm-viewport::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 100px;
  padding-left: 3px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
.xterm-viewport::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.xterm-viewport::-webkit-scrollbar-thumb:vertical {
  background: rgba(255, 255, 255, 0.95);
  -webkit-border-radius: 100px;
}

.xterm-viewport::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(255, 255, 255, 1); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
