::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
    padding-left: 3px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.8); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}
