// My main SCSS file.
$mdc-theme-primary: #000000;
$mdc-theme-secondary: #0a6df7;
$mdc-theme-background: #fff;
$mdc-typography-font-family: "Inter", sans-serif;

:export {
    mdcthemeprimary: $mdc-theme-primary;
    mdcthemesecondary: $mdc-theme-secondary;
    mdcthemebackground: $mdc-theme-background;
}