<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Databoost</title>

    <!-- External dependencies -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="static/css/fonts.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="icon" href="static/image/favicon.png" type="image/x-icon"/>

</head>
<body>

<aside class="mdc-drawer mdc-drawer--dismissible" id="main-drawer">
    <div class="mdc-drawer__content">
        <h1 class="logo">databoost</h1>
        <nav class="mdc-list">
<!--            <a class="mdc-list-item mdc-list-item&#45;&#45;activated" href="#" aria-current="page">-->
<!--                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_compact</i>-->
<!--                <span class="mdc-list-item__text">Dashboard</span>-->
<!--            </a>-->
            <a class="mdc-list-item" data-react-view="PipelinesView" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">device_hub</i>
                <span class="mdc-list-item__text">Pipelines</span>
            </a>
            <a class="mdc-list-item" data-react-view="DataSourcesView" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">storage</i>
                <span class="mdc-list-item__text">Data sources</span>
            </a>
            <li role="separator" class="mdc-list-divider"></li>
            <a class="mdc-list-item" data-react-view="SettingsView" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
                <span class="mdc-list-item__text">Settings</span>
            </a>
        </nav>
    </div>
</aside>

<div class="mdc-drawer-app-content">
    <header class="mdc-top-app-bar app-bar" id="app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
<!--          <span class="mdc-top-app-bar__title">Dismissible Drawer</span>-->
        </section>
      </div>
    </header>

    <main class="main-content" id="main-content">
      <div class="mdc-top-app-bar--fixed-adjust">
          <div class="react-view-root"></div>
      </div>
    </main>
</div>


{% block content %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

<!-- Instantiate single textfield component rendered in the document -->
<script>
    // mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
    window.mdc.autoInit();
</script>
<script type="module" src="static/js/dist/main.bundle.js"></script>
</body>
</html>